.w-100 {
  width: 100%;
}

button {
  font-size: 2rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.users {
  justify-content: space-between;
  align-items: stretch;

  &__form {
    width: 100%;
  }

  &__label {
    font-size: 2rem;
  }

  &__input {
    font-size: 1.5rem;
  }
}